  .button {
	background-color: #B3BAB4;
	color: #3d2c2e;
	outline: none;
} .button_delete {
	background-color: #B3BAB4;
	color: #6E0D25;
	outline: none;
	font-weight: bold;
	font-family: cursive;
	float: left;
	width: 16px;
	height: 16px;
	border: 2px solid #E21725;
	border-radius: 50%;
	box-shadow: rgba(0,0,0,.75);
	font-size: 12px;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 4px;
	padding: 0px;
	text-align: center;
	display: inline-block;
} .button_delete:hover {
	color: #791205;
	border: 2px solid #E21725;
	background-color: #E21725;
} .checkbox {
    margin-top: 6px;
    margin-right: 0px;
} .checkbox:hover {
    background: #f5edf0;
    box-shadow: 0px 2px 5px 0px #791205;
} .select {
	float: left;
	height: 22x;
	padding: 0px;
    margin: 2px 5px 0px 5px;
} .list-item_default {
	border: 1px groove #D1C5C6;
	background-color: #D1CCDC;
	margin-bottom: 1px;
	margin-top: 1px;
} .list-item_todo-p1 {
	border: 1px groove #D1C5C6;
	background-color: #F6EFA6;
	margin-bottom: 1px;
	margin-top: 1px;
} .list-item_todo-p2 { 
	border: 1px groove #D1C5C6;
	background-color: #F5BF85;
	margin-bottom: 1px;
	margin-top: 1px;
} .list-item_todo-p3 {
	border: 1px groove #D1C5C6;
	background-color: #F87666;
	margin-bottom: 1px;
	margin-top: 1px;
} .span_todo-text-default {
	background-color: #D1CCDC;
	margin-left: 10px;
	color: # #000000;
	font-weight: bold;
	padding: 0px 10px;
	margin-bottom: 1px;
	font-family: Cambria Math, Cambria, Arial;
} .span_todo-text-completed {
	background-color: #D1CCDC;
	margin-left: 10px;
	color: # #000000;
	font-weight: bold;
	padding: 0px 10px;
	margin-bottom: 1px;
	font-family: Cambria Math, Cambria, Arial;
} .span_todo-text-completed {
	text-decoration: line-through;
} .span_todo-text-p1 {
	background: #F6EFA6;
	margin-left: 10px;
	color: #000000;
	font-weight: bold;
	padding: 0px 10px;
	margin-bottom: 1px;
	font-family: Franklin Goth Heavy, Arial Black;
} .span_todo-text-p2 {
	background-color: #F5BF85;
	margin-left: 10px;
	color: #000000;
	font-weight: bold;
	padding: 0px 10px;
	margin-bottom: 1px;
	font-family: Franklin Goth Heavy, Arial Black;
} .span_todo-text-p3 {
	background: #F87666;
	margin-left: 10px;
	color: #000000;
	font-weight: bold;
	padding: 0px 10px;
	margin-bottom: 1px;
	font-family: Franklin Goth Heavy, Arial Black;
} #inputText {
	width: 125px;
	transition: ease-in-out, width .35s ease-in-out;
} #inputText:focus {
	width: 500px;
	outline: none;
} * {
	background-color: #f5edf0;
	z-index: 0;
} h1 {
	color: # #424c55;
} input[type=text] {
	width: 500px;
	outline: none;
	margin-bottom: 3px;
} ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
