* {
	background-color: #f5edf0;
}

h1 {
	color: #424c55;
}

.button {
	background-color: #D1C5C6;
	color: #3d2c2e;
	outline: none;
}

li {
	border: 1px groove #D1C5C6;
	background: #D1CCDC; 
	padding: 0px 10px;
	color: #424c55;
	margin: 1px;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

span {
	background: #C9B5B1; 
}

input[type=text] {
	width: 125px;
	transition: ease-in-out, width .35s ease-in-out;
}

input[type=text]:focus {
	width: 250px;
	outline: none;
}
